body {
  --top-panel-height : 64px;
  --left-panel-width : 80px;
  --right-panel-width : 210px;

  --label : "image";


  --base-color: #f2f2f2;
  --hover-color: #9b9b9b;
  --highlight-color: #999;
  --content-color: #000;
  --workspace-color: #d0d0d0;
  --border-color: #000000;

}

@media (prefers-color-scheme:dark) {
  .titlebar {
    color:#000;
  }

  body{
    --base-color: #333;
    --hover-color: #5e5e5e;
    --highlight-color: #828282;
    --content-color : #ffe;
    --workspace-color: #444;
    --border-color: #131313;
  }
}




body {
  margin: 0;
  font-family: sans-serif;

  background: var(--base-color);
  color: var(--content-color);
  width:100vw;
  height:100vh;
}


@media (max-width: 1250px) {
  body  {
    transform-origin: top left;
    transform: scale(0.75);
    width:133vw;
    height:133vh;
    overflow:hidden;
    }
}
canvas {
  display: block;
  box-shadow: 0px 0px 0px 2px var(--border-color);
}
.noselect {
-webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
        }

.nodrag {
  user-drag: none;
  -webkit-user-drag: none;
}


.panel {
  position: absolute;
  left:0px;
  right:0px;
  top:0px;
  height: var(--top-panel-height);
  display: flex;
  align-items: center;
}

.button {
  transition: all 0.05s;
  display: inline-block;
  border-radius: 4px;
  width:32px;
  height:32px;
  margin:2px;
  background-color : var(--workspace-color);
  box-sizing: border-box;
}
.button:hover {
  background-color : var(--hover-color); 
}
.button:active {
  background-color : var(--highlight-color);
}
.button.down {
  background-color : var(--highlight-color);
}

.tools_panel{
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: column;
}

.tool.button {
  text-align: center;
}

.tool.button span{
  font-size: 24px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 32px;
  text-align: center;
}

.action.button span{
  font-size: 24px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 32px;
  text-align: center;
}

.subpanel {
  border-left: 1px solid var(--border-color);
  padding-left: 6px;
  height: var(--top-panel-height);
  vertical-align: top;
  box-sizing:border-box;
  display: flex;
  align-items: center;
}

.subpanel.actions {
  position:absolute;
  right:0.5em;
  width:200px;
}
.subpanel input {
  display:block;
}

.subpanel.simple_mirrors {
  width:70px;
  flex-wrap: wrap;
}

.subpanel.grid_mirrors {
  flex-wrap: wrap;
}

.subpanel.grid_mirrors>span {
  height: var(--top-panel-height);
  vertical-align: top;
  padding-top: 10px;
}


.mirror.button {
  width:24px;
  height:24px;
}

.mirror.button#mirror_y {
  background-image: linear-gradient(to bottom, #0000 45%, var(--content-color) 50%, #0000 55%);
}

.mirror.button#mirror_x {
  background-image: linear-gradient(to right, #0000 45%, var(--content-color) 50%, #0000 55%);
}

.mirror.button#mirror_tlbr {
  background-image: linear-gradient(to right top, #0000 45%, var(--content-color) 50%, #0000 55%);
}

.mirror.button#mirror_trbl {
  background-image: linear-gradient(to right bottom, #0000 45%, var(--content-color) 50%, #0000 55%);
}

.mirror.button#mirror_grid {
  width: 48px;
  height: 48px;
  margin-top: 6px;
}

.subpanel.rotational_mirrors {
  width: 55px;
  text-align:center;
  flex-wrap: wrap;
}

.mirror.button#mirror_rotational {
  width: 36px;
  height: 36px;
  margin-bottom:0;
}

.subpanel.rotational_mirrors input {
  width: 42px;
}



#palette {
  position:absolute;
  left:0px;
  top:var(--top-panel-height);
  width:var(--left-panel-width);
  bottom:0px;
  line-height: 19px;
  padding:6px;
}
.paletteentry {
    width :20px;
    height :20px;
    display:inline-block;
    margin : 0px;
    box-shadow:0px 0px 2px 1px var(--border-color);
}

.paletteentry.erase {
  width: 78px;
  height:32px;
  text-align: center;
  line-height: 32px;

}

#workspace{
  position:absolute;
  
  left: calc( var(--left-panel-width) + 8px);
  right: calc( var(--right-panel-width));
  top: calc( var(--top-panel-height) + 4px);
  bottom:0px;
  overflow:hidden;
  background-color:var(--workspace-color);
  margin: 4px;
  box-shadow: 0px 0px 2px 2px var(--border-color);
}
.pic {
  cursor:crosshair;
  background-color:var(--base-color);
  background-image: linear-gradient(rgba(32,100,150,.05), transparent 2px),
  linear-gradient(90deg, rgba(32,100,150,.05) 2px, transparent 2px),
  linear-gradient(rgba(32,100,150,.1) 1px, transparent 1px),
  linear-gradient(90deg, rgba(32,100,150,.1) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;

  transition: transform 0.5s;

  position:absolute;
  margin: auto;
  left:0px;
  top:0px;
  image-rendering:pixelated;
  image-rendering:-moz-crisp-edges;
  transform : scale(2,2);
  transition: transform 0.15s;

  transform-origin: top left;
  transform: translate(var(--translateX),var(--translateY))  scale(var(--scalefactor) )
}


input[type="color"] {
  width:48px;
  height:32px;
  padding:0px;
  background:none;
  border:none;
  outline:none;
}

#brush_opacity {
  width:100%;
  padding:0;
  margin:0;
  position:relative;
}
#brush_opacity input {
  width:100%;
  box-sizing:border-box;
}
#brush_opacity label{
  font-size:small;
}
#brush_opacity output{
  font-size:small;
}

#foreground {
  position: absolute;
  bottom : 32px;
  left : 12px;
  z-index : 1;
}
#background {
  position: absolute;
  bottom : 20px;
  left : 24px;
}
#global_overlay {
  z-index: 1111;
}

.fillparent {
  position:absolute;
  bottom:0px;
  top:0px;
  left:0px;
  right:0px;
}
#save {
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
}
.pic>.eventoverlay {
  transform: translate(-0.5px,-0.5px);
}

.pic .titlebar {
  position: absolute;
  height: 20px;
  display: inline-block;
  top: -23px;
  transform-origin: left;
  background-color: var(--workspace-color);
  border-radius: 0 11px 0 0;
  padding-top: 1px;
  padding-left: 32px;
  padding-right: 38px;
  box-shadow: 0px 0px 0px 2px var(--base-color);
  font-family: sans-serif;
  color: var(--content-color);
}

.pic .titlebar.renaming {
  padding-right: 8px;
}

.pic .titlebar.renaming .renamebutton {
  display:none;
}

.pic[data-z="100"] .titlebar {
  background-color: var(--workspace-color);
}

.pic .closebutton {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  cursor: default;
}

.pic .closebutton:hover {
  color: var(--highlight-color);
}

.pic .closebutton:active {
  color: var(--highlight-color);
}

.pic .title input {
  font:inherit;
  border: none;  
  outline-width: 0;
  background-color: var(--base-color);
}

.parameters textarea {
  width : 47%;
  height :4em;
  display: inline-block;
  border-top :16px solid var(--base-color);
  height: 100%;
}

.pic .renamebutton {
  position: absolute;
  top: 0px;
  right: 8px;
  width:24px;
  height:24px;
  box-sizing: border-box;
  color: var(--content-color);
}

.parameters label {
  margin-left:8px;
  font-family: sans-serif;
  font-size:14px;
  position: absolute;

} 
.parameters {
  z-index:2;
  overflow: visible;
  width: 50%;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}

.slider_panel.hidden{
  visibility: collapse;
  display: none;
}

.slider_panel .slider_label{
  display: flex;
  padding-left: 5px;
}

.slider_panel .slider_label input{
  margin-left: 5px;
}

.slider_panel input[type="range"]{
  display:inline-block;
  width: 200px;
}

.diameter_control {
  display:inline-block;
  margin-top: 8px;
  box-shadow: none;
  height: var(--top-panel-height);
  margin-left: 8px;
  margin-right: 8px;
}

.sidebutton {
  width: 32px;
  height: 32px;
  border: 2px solid var(--base-color);
  position: absolute;
  background-color: green;
  right: -36px;
  top: 0px;
  border-radius: 0px 30px 30px 0px;
}
.sidebutton.output {
  background: radial-gradient(ellipse at center, #ffffff 0%,#f4ff60 11%,#f4ff60 11%,#80c217 57%,#008000 100%);
}

#right_panel{
  position: absolute;
  top:var(--top-panel-height);
  width:var(--right-panel-width);
  right:0px;
  bottom:0px;
  width:200px;
  
}

.sidepanel_block {
  position:absolute;
  border-top:1px solid var(--border-color);
  left:0px;
  right:0px;
}

#layer_control {
  --control-height :400px;
  bottom:0px;
  height:var(--control-height);
}

.layer_list {
  height:calc(var(--control-height) - 100px);
  overflow-y: auto;
}


.layer-attributes {
  position:relative;
}

#layer_control input,
#layer_control select {
  width:95%;
  text-align:center;
}

#layer_control label {
  width:95%;
  text-align:center;
  display: inline-block;
  padding-top:5px;
  font: 16px sans-serif;
}

#layer_control .thumbnail {
  display:inline-block;
}

#layer_control .layer_name {
  display:inline-block;
  vertical-align: top;
  line-height: 36px;
  width: 60%; 
  margin-left: 5px;
}

.layer_widget.target .layer_name::before {
  color:red;
  content: "◎";
}

#layer_control .layer_name_input {
  width: 80%; 
  border: none;
  background: none;
  font-size: inherit; 
  color: inherit; 
  line-height: inherit; 
  padding: 0; 
  margin: 0; 
  text-align: left; 
}


#layer_control .visibilitybox {
  content:"Q";
  width:24px;
  color: var(--content-color);
}

#layer_control .visibilitybox.showing {
}

#layer_control .layer_widget {
  height: 40px;
  border: 1px solid var(--border-color);
  position:relative;
  display: flex;
  align-items: center;
}

#layer_control .layer_widget.active {
  background-color: var(--highlight-color);
}

#layer_control .checkbox {
  width: 16px;
  height: 16px;
  color: var(--content-color);
  opacity: 50%;
  display: inline-block;
  position: absolute;
  right: 8px;
}
#layer_control .checkbox.checked {
  opacity: 100%;
}

#layer_control .layer_list.insert_top {
  border-top:3px solid red;
}

#layer_control .layer_widget.insert_after {
  border-bottom:3px solid red;
}

.layer-attributes .imageLayer {
  height:24px;
}

.layer-attributes .maskLayer {
  display: none;
}

.layer-attributes.mask .imageLayer {
  display: none;
}

.layer-attributes.mask .maskLayer {
  display: block;
  height:24px;
}

.layer_actions {
  position: absolute;
  bottom: 2px;
  border: 1px solid var(--border-color);
  height: 26px;
  left: 0px;
  right: 0px;
  font-size: 20px;
}
.layer_actions .remove_layer {
  position:absolute;

  width:24px;
  height:24px;
  right:0px;
  bottom:0px;
  box-sizing: border-box;
}

.layer_actions .add_layer {
  position:absolute;

  width:24px;
  height:24px;
  left:0px;
  bottom:0px;
  box-sizing: border-box;
}
               
.layer_actions .duplicate_layer {
  position:absolute;

  width:24px;
  height:24px;
  left:32px;
  bottom:0px;
  box-sizing: border-box;
}


input.maskColor {
  display:inline-block;
  position:absolute;
  top: -3px;
  height:28px;
}

#import_control {
  display: flex;
  width: 184px;
  padding: 0.5em;
  text-align: center;
  height: var(--top-panel-height);
  vertical-align: top;
  padding-top: 1em;
  border-right: 1px solid var(--border-color);
  flex-direction: column;
  justify-content: center;
}

#import_control select {
  width: 100%;
  text-align: center;
}

.modal {
  z-index:5000;
  display: none; 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

}

.modal h2 {
  margin-top: 10px;
}
.modal-active {
  display:block;
}

.modal-content {
  background-color: var(--base-color);
  color: var(--content-color);
  margin: 15% auto;
  padding: 20px;
  padding-bottom:60px;
  border-radius: 15px;
  width: 300px;
  position:relative; 
  text-align:center;

}

.close-button {
  color: var(--content-color);
  position:absolute;
  right:10px;
  top:10px;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: var(--hover-color);
  text-decoration: none;
  cursor: pointer;
}

#newImageModal .cancel-button {
  position: absolute;
  left:10px;
  bottom:10px;
}
#newImageModal .create-button {
  position: absolute;
  right:10px;
  bottom:10px;
}

/* INPUTS */
input[type="number"], input[type="text"], select{
  color: var(--content-color);
  background-color: var(--workspace-color);
  border: 0;
  padding: 2px;
  border-radius: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;  
  background: var(--hover-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 8px;
  margin-bottom: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  border: 0;
  background: var(--content-color);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0;
  background: var(--content-color);
  cursor: pointer;
}